* {
  box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #272727;
  background-color: white;
  padding: 0;
}

header {
  width: 100%;
  height: 255px;
  background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/headerBgSmall.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 255px;
  margin-bottom: 40px;
}

footer {
  width: 100%;
  height: 418px;
  background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/fjellSmall.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 418px;
  margin-top: 60px;
}

#contentWrapper {
  width: 310px;
  margin: auto;
}

section {
  margin: 0 0 4rem;
}

a,
a:visited {
  color: #486680;
}

a.button {
  background-color: hsl(10deg 87% 65%);
  color: white;
  text-decoration: none;
  border-radius: 48px;
  padding: 12px 32px;
  font-family: 'chaloops';
  font-weight: 600;
}

h1 {
  height: 245px;
  width: 243px;
  top: -16px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/logoLekene.svg');
  background-size: 245px;
  background-repeat: no-repeat;
  color: transparent;
}

h2 {
  font-family: Chaloops;
  color: #486680;
  font-weight: 600;
  margin: 0 0 0.5rem;
}

h3 {
  font-family: Chaloops;
  margin: 0;
  color: #9a4839;
}

p {
  margin: 0 0 2em;
}

#ingress {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

@media (min-width: 576px) {
  #contentWrapper {
    width: 480px;
  }
  header {
    height: 242px;
    background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/headerBgMedium.svg');
    background-size: 100% 242px;
    margin-bottom: 40px;
  }
  h1 {
    width: 261px;
    height: 263px;
    top: -37px;
    background-size: 261px;
  }
  footer {
    height: 268px;
    background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/fjellMedium.svg');
    background-size: 100% 268px;
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  #contentWrapper {
    width: 640px;
  }
  header {
    height: 242px;
    background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/headerBgMedium.svg');
    background-size: 100% 242px;
    margin-bottom: 60px;
  }
  h1 {
    width: 320px;
    height: 328px;
    top: -37px;
    background-size: 320px;
  }
  footer {
    height: 268px;
    background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/fjellMedium.svg');
    background-size: 100% 268px;
    margin-top: 80px;
  }
}

@media (min-width: 992px) {
  #contentWrapper {
    width: 960px;
  }
  header {
    height: 501px;
    background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/headerBgLarge.svg');
    background-size: 100% 501px;
  }
  h1 {
    width: 482px;
    height: 486px;
    top: -33px;
    background-size: 482px;
  }
  footer {
    height: 268px;
    background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/fjellLarge.svg');
    background-size: 100% 268px;
  }
}

@media (min-width: 1200px) {
}
