* {
  box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #272727;
  background-color: white;
  padding: 0;
}

header {
    width: 100%;
    height: 10rem;
    background-color: #fff;
}

footer {
  width: 100%;
  height: 10rem;
  background-color: #fff;
}

#contentWrapper {
  width: 310px;
  margin: auto;
}

section {
  margin: 0 0 4rem;
}

h1 {
  display: none;
}

h2 {
  font-family: Chaloops;
  color: #486680;
  font-weight: 600;
  margin: 0 0 0.5rem;
}

h3 {
  font-family: Chaloops;
  margin: 0;
  color: #9a4839;
}

p {
  margin: 0 0 2em;
}

#ingress {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

@media (min-width: 576px) {
  #contentWrapper {
    width: 480px;
  }
}

@media (min-width: 768px) {
  #contentWrapper {
    width: 640px;
  }
}

@media (min-width: 992px) {
  #contentWrapper {
    width: 960px;
  }
}

@media (min-width: 1200px) {
}
