<section id="buttons">
    <a 
        class="button"
        href="https://billett.no/sverresborglekene/sverresborglekene2025" 
        id="signUp" 
        target="_blank"
    >
        Meld deg på her!
    </a>

    <a 
        class="button" 
        href="https://www.facebook.com/events/2505827969808914" 
        id="fb" 
        target="_blank"
    >
        <img 
            class="fbLogo" 
            src="https://www.grenaderkorpset.no/sverresborglekene/2023/assets/f_logo_RGB-White_1024.svg"
        >
        Følg med på Facebook
    </a>
</section>

<style>
    section#buttons {
        margin-bottom: 3rem;
        text-align: center;
    }

    a.button {
    text-decoration: none;
    border-radius: 48px;
    padding: 12px 32px;
    font-family: 'chaloops';
    font-weight: 600;
    font-size: 0.8em;
    margin: 1em 0;
    display: block;
}

@media (min-width: 768px) {
    a.button {
        display: inline-block;
        margin: 0 0.5em;
    }
}

#fb {
    background-color: #1877f2;
    color: white;
}

#signUp {
    background-color: hsl(10deg 87% 65%);
    color: white;
}

#fb img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 0.5em;
}
</style>