<header>
  <h1>Sverresborglekene 2025</h1>
</header>

<style>
  header {
    height: 301px;
    background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/headerBg.svg');
    background-size: 100% 301px;
    background-repeat: no-repeat;
    position: relative;
  }

  h1 {
    width: 310px;
    height: 313px;
    position: relative;
    top: -20px;
    margin: 0 auto;
    background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/logo.svg');
    background-size: 310px;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }

  @media (min-width: 992px) {
    header {
      height: 501px;
      background-image: url('https://www.grenaderkorpset.no/sverresborglekene/2023/assets/headerBgLarge.svg');
      background-size: 100% 501px;
    }
    h1 {
      width: 482px;
      height: 486px;
      top: -33px;
      background-size: 482px;
    }
  }
</style>
