---
import Carousel from "./Carousel.astro";
---

<section id="ingress">
    <p>
        Søndag 9. februar 2025 er det klart for den 57. utgaven av
        Sverresborglekene.
    </p>
    <Carousel />
    <p>
        Sverresborglekene er et lavterskeltilbud hvor det ikke er tidtaking, men
        vekt på gjennomføring, lek og gøy. <br /><br />
        Her blir det skirenn og <a
            href="https://www.skiforbundet.no/rekruttering/skisprell/"
            target="_blank">Skisprell</a
        > i bakkene rundt BSK-hytta på Ferista!
    </p>
</section>

<style>
    #ingress {
        font-size: 1.6rem;
        line-height: 2.4em;
        font-weight: 300;
    }
    p {
        margin: 0 0 .5em;
    }
</style>
