---
// LogoSalat komponent
---
<!-- Sponsorer -->
<section id="sponsors">
  <h3>Vi er sponset av:</h3>
  <div id=logosalat></div>
</section>


<style>
section#sponsors {
  text-align: center;
}

section#sponsors img {
  width: 300px;
  padding-top: 1.5em;
}

section#sponsors div#logosalat {
  width: 300px;
  height: 700px;
  padding-top: 1.5em;
  background: url('https://www.grenaderkorpset.no/sverresborglekene/2025/assets/logosalat_vertical-2025.svg');
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  text-align: center;
}

#sponsors h3 {
  text-align: center;
  color: #486680;
}

@media (min-width: 576px) {
  section#sponsors img {
    width: auto;
    padding-top: 1.5em;
  }

  section#sponsors div#logosalat {
    width: 570px;
    height: 360px;
    padding-top: 1.5em;
    background: url('https://www.grenaderkorpset.no/sverresborglekene/2025/assets/logosalat_horisontal-2025.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
}

</style> 