---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Buttons from '../components/Buttons.astro';
import Sponsors from '../components/Sponsors.astro';
import Ingress from '../components/Ingress.astro';
---

<Layout title="Sverresborglekene | 9. Februar 2025">
	<main>
		<Header />
		<div id="contentWrapper">
			<!-- Knapper til påmeldingsside og facebook -->
			<Buttons />

			<!-- Ingress -->
			<Ingress />

			<!-- Praktisk informasjon -->
			<section id="info">
				<h2>Praktisk informasjon</h2>
				<!--<h3>Påmelding</h3>
				<p>
				  <a
					href="https://billett.no/sverresborglekene/sverresborglekene"
					target="_blank">Påmelding kan gjøres her!</a>
				  <br />Alle deltakere får premie.</p>
				</p>-->
				<h3>Adkomst og parkering</h3>
				<p>
				  Det er gratis parkering på Ferista og på Byåsen butikksenter. Det
				  vil være vakter til stede som dirigerer trafikken. Vi oppfordrer
				  alle som har mulighet til å ta buss. Det er gode bussforbindelser
				  til Byåsen butikksenter (buss nr. 11 mot Stavset) hvor det bare er
				  ca. 400 meter å gå til Ferista. Buss nr. 26 mot Skistua passerer
				  Ferista.
				  <br /><br /><a href="https://atb.no" target="_blank"
					>Busstidene finner du her</a
				  >.
				</p>
				<h3>Mat og drikke</h3>
				<p>
				  Du kan kjøpe mat og drikke på området fra kl. 10.30. Betaling skjer
				  med Vipps.
				</p>
				<h3>Løyper</h3>
				<p>
				  Man kan velge mellom to løyper, eller ta begge to om man vil. Den
				  korteste er på ca. 800 meter og går i området rundt BSK-hytta og
				  Ferista parkeringsplass. Den lengste på ca. 1,5 km følger
				  rulleskiløypa opp i skogen, går under BSK-bakken (hoppbakken) og
				  kommer ned på sletta ved BSK-hytta.
				  <br /><br />Start og mål for begge løypene er på sletta ved
				  BSK-hytta.
				</p>
	  
				<h3>Skisprell – Skiglede for Barn og Unge!</h3>
				<p>Skisprell er en aktivitet for barn og unge – utviklet av Norges Skiforbund – hvor fokuset er på lek, moro og skiglede – helt uten startnummer og konkurransestress. Her kan alle være med og oppleve ski på sitt eget nivå!</p>
				<h4>Hva er Skisprell?</h4>
				<p>Skisprell handler om å skape en morsom skiopplevelse for barn og unge. Aktivitetene inkluderer kreative og spennende elementer som:
				  <ul>
					<li>Hinderløyper med kjegler, porter og portaler</li>
					<li>Små hopp og orgeltrapp</li>
					<li>Reiplykke og blåmaling for å tegne morsomme løyper</li>
				  </ul>
				<p>Arrangementet passer for alle, enten du har ski på beina for første gang eller har erfaring fra før. Det er en fantastisk mulighet til å oppdage gleden ved ski i trygge og lekne omgivelser.</p>
				<p>Bli med på Skisprell under Sverresborglekene, og opplev en dag fylt med lek, aktivitet og skiglede. Vi gleder oss til å se deg der!</p>
			  </section>

			<!-- Sponsorer -->
			<Sponsors />
		</div>
		<Footer />
	</main>
</Layout>

<style>
#contentWrapper {
    margin: auto;
}

@media (min-width: 576px) {
  #contentWrapper {
    width: 480px;
  }
}

@media (min-width: 768px) {
	#contentWrapper {
	width: 640px;
	}
}

@media (min-width: 992px) {
  #contentWrapper {
    width: 960px;
  }
}
</style>
