/* Reset og base-stiler */
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: karmina-sans, system-ui, sans-serif;
  color: #363636;
  background-color: white;
  padding: 0;
  font-weight: 300;
  font-size: 1.4em;
}

img {
  border-radius: 16px;
  width: 100%;
}

section {
  margin: 0 1em 4rem;
}

/* Typografi */
h1, h2, h3, h4 {
  font-family: Chaloops;
  font-weight: 600;
  margin: 0;
}

h2 {
  color: #486680;
  margin: 2em 0 1em;

}

h3 {
  color: #9a4839;
  margin: 1.5em 0 0.5em;
}

p {
  margin: 0 0 2em;
  line-height: 1.4em;
}

a, a:visited {
  color: #486680;
}

a:hover {
    text-decoration: underline;
}   

/* Innhold */
/* #contentWrapper {
  width: 310px;
  margin: auto;
  position: relative;
  top: 0px;
}

section {
  margin: 0 0 4rem;
}

#ingress {
  font-size: 1.6rem;
  line-height: 2.4em;
  font-weight: 300;
} */

/* Media Queries */
/* @media (min-width: 576px) {
  #contentWrapper {
    width: 480px;
    position: relative;
    top: 90px;
  }
}
/* @media (min-width: 768px) {
    a.button {
        margin: 0em 0.5em;
        display: inline;
    }
}

@media (min-width: 992px) {
    #contentWrapper {
        width: 960px;
    }
} */
/*

@media (min-width: 768px) {
  #contentWrapper {
    width: 640px;
  }
  
  a.button {
    margin: 0em 0.5em;
    display: inline;
  }
}

@media (min-width: 992px) {
  #contentWrapper {
    width: 960px;
    position: relative;
    top: -40px;
  }
} */

/* Font imports */
@import url("https://use.typekit.net/mvc6czz.css");
